<md-content>
  <div>
    <form class="add-medication-form" name="$ctrl.addMedicationForm" ng-submit="$ctrl.onSubmit()" ng-show="$ctrl.isShown">
      <div layout-gt-xs="column">
        <md-input-container class="md-block" flex-gt-xs>
          <label>Start Date</label>
          <md-datepicker ng-model="$ctrl.newMedication.date" md-placeholder="Enter date" required></md-datepicker>
          <div class="errors" ng-messages="addMedicationForm.startDate.$error">
            <div ng-message="required">Required</div>
          </div>
        </md-input-container>
      
        <md-input-container>
          <label>Prescribed by</label>
          <md-select ng-model="$ctrl.newMedication.doctor" required>
            <md-optgroup label="doctors">
              <md-option ng-repeat="doctor in $ctrl.doctors" ng-value="doctor" >Doctor {{doctor}}</md-option>
            </md-optgroup>
          </md-select>
          <div class="errors" ng-messages="addMedicationForm.selectedDoctor.$error">
            <div ng-message="required">Required</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label>Status</label>
          <input ng-model="$ctrl.newMedication.status" readonly>
        </md-input-container>
      
        <md-input-container>
          <label>Meds</label>
          <md-select 
            ng-model="$ctrl.newMedication.drugs"
            md-on-close="$ctrl.clearSearchTerm()"
            data-md-container-class="selectdemoSelectHeader" required>
            <md-select-header class="demo-select-header">
              <input 
                ng-model="$ctrl.searchTerm"
                ng-keydown="$event.stopPropagation()"
                type="search"
                placeholder="Search for a medication.."
                class="demo-header-searchbox md-text">
            </md-select-header>
            <md-optgroup label="drugs">
              <md-option ng-value="drug" ng-repeat="drug in $ctrl.drugs | filter:$ctrl.searchTerm">{{drug}}</md-option>
            </md-optgroup>
          </md-select>
          <div class="errors" ng-messages="addMedicationForm.selectedDrugs.$error">
            <div ng-message="required">Required</div>
          </div>
        </md-input-container>
      
        <md-input-container>
          <label>Sig</label>
          <input type="text" name="sig" ng-model="$ctrl.newMedication.sig" required>
          <div class="errors" ng-messages="addMedicationForm.sig.$error">
            <div ng-message="required">Required</div>
          </div>
        </md-input-container>
        
      </div>

      <md-button type="submit" class="md-primary md-raised" ng-disabled="$ctrl.addMedicationForm.$invalid">
        Submit
      </md-button>
      <md-button class="md-raised md-primary" ng-click="$ctrl.isShown = false">
          Cancel
      </md-button>
    </form>
  </div>
  <div class="add-medication-form-button">
    <md-button class="md-primary md-raised" 
      ng-click="$ctrl.showForm()" ng-show="!$ctrl.isShown">
      Add Medication
    </md-button>
  </div>
</md-content>
