<dic>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab ng-repeat="tab in $ctrl.tabs" 
        label="{{tab.title}}">
          <md-content class="md-padding">
            <h1 class="md-display-2 title">
              {{tab.title}}
            </h1>
            <div ng-if="tab.title === 'Active'">
              <table-active-component
                patient="$ctrl.patient">
              </table-active-component>  
            </div>
            <div ng-if="tab.title === 'History'">
              <table-history-component
                patient="$ctrl.patient">
              </table-history-component>
            </div>
          </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</dic>  