<div class="widget-tables-wrap">
  <widgets-settings-component on-selected="$ctrl.selectedWidgets(selected)"></widgets-settings-component>
  <div class="widget-table-component widget-tables-wrap">
    <div ng-repeat="prop in $ctrl.properties">
      <widget-table
        data="$ctrl.selectedPatient" 
        widget="prop.widget" 
        property="prop.property" 
        ng-if="$ctrl.activeWidget(prop.widget)">
      </widget-table>
    </div>
  </div>
</div>