<div>
  <h3>{{$ctrl.patient.firstName}} {{$ctrl.patient.lastName}}</h3>

  <md-button
    ng-if="$ctrl.addDiagnoseState"
    ng-click="$ctrl.showDiagnoseForm($ctrl.formState)"
    class="md-raised md-primary">
    Add diagnose
  </md-button>

  <md-card 
    ng-if="$ctrl.formState"
    layout-padding>
    <md-card-title-text>
      <span class="md-headline">Add Diagnose</span>
    </md-card-title-text>

    <md-card-content>
      <form 
        name="$ctrl.diagnoseForm"
        ng-submit="$ctrl.addDiagnose($ctrl.diagnoseForm.$valid)"
        novalidate>

        <md-input-container>
          <label>Name</label>
          <input
            name="diagnoseName"
            type="text" 
            ng-model="$ctrl.formDiagnose.name"
            required>
          <div 
            ng-messages="$ctrl.diagnoseForm.diagnoseName.$error"
            ng-show='($ctrl.diagnoseForm.diagnoseName.$touched && $ctrl.diagnoseForm.diagnoseName.$invalid)'>
            <div ng-message="required">Diagnose name is required</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label>Description</label>
          <textarea
            name="diagnoseDescription"
            type="text"
            ng-model="$ctrl.formDiagnose.diagnose"
            rows="2" 
            cols="80"
            required
            ng-minlength="8">
          </textarea>
          <div 
            ng-messages="$ctrl.diagnoseForm.diagnoseDescription.$error"
            ng-show='($ctrl.diagnoseForm.diagnoseDescription.$touched && $ctrl.diagnoseForm.diagnoseDescription.$invalid)'>
            <div ng-message="minlength">Description should contain at least 8 characters</div>
          </div>
        </md-input-container>

        <md-button 
          class="md-raised md-primary"
          type="submit"
          ng-disabled="$ctrl.diagnoseForm.$invalid">
          Add
        </md-button>
        
        <md-button 
          ng-click="$ctrl.showDiagnoseForm($ctrl.formState)"
          class="md-raised md-secondary">
          Cancel
        </md-button>

      </form>
    </md-card-content>
  </md-card>
</div>
